<% if flash[:notice] %>
  <div class="px-4 py-3 my-4 text-sm text-gray-800 bg-green-200 rounded-lg" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="px-4 py-3 mb-4 text-sm text-gray-800 bg-red-100 rounded-lg" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>